.root {
    width: 600px;
    margin: 0 auto;
    text-align: center;
}

.profile {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px 0;
}

.profile__container {
    display: flex;
    flex-direction: row;
}

.profile__avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    box-sizing: border-box;
    opacity: 1;
    position: relative;
}

.profile__avatar::before {
    background-image: url("../../images/karandash.svg");
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 26px;
    transition: opacity .2s ease .1s;
    z-index: 1;
}

.profile__avatar:hover::before {
    opacity: 1;
}

.profile__avatar::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    background: rgb(0, 0, 0);
    transition: opacity .2s ease .1s;
}

.avatar {

    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile__info {
    margin-left: 30px;
    display: flex;
    flex-direction: row;
    flex-grow: 2;
    justify-content: space-between;
    text-align: left;
    font-size: 20px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.info__text {
    margin: 0 0 15px;
    font-size: 24px;
    font-weight: bold;
    line-height: 24px;
}

.edit__info {
    width: 30px;
    height: 30px;
    padding: 0;
    background-image: url("../../images/karandash.svg");
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
    background-color: black;
    border-radius: 5px;
    border: 1px solid gray;
    cursor: pointer;
}

.blackout {
    opacity: 1;
    transition: opacity .2s ease .1s;
    cursor: pointer;
}

.blackout:hover {
    opacity: .6;
}

.add__photo {
    width: 150px;
    height: 50px;
    border: 1px solid #000000;
    border-radius: 6px;
    background-color: black;
    background-image: url("../../images/plus.svg");
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
}